@media (min-width: 1200px) {
    .container {
	max-width: 90%;
    }
}
@media (min-width:400px){
    .global-search {
	padding: 20px 0;
	text-align:center;
    }
    body {
	padding-top: 15%;
	padding-bottom: 15px;
    }
    .global-search {
	text-align:center;
	padding:10px;
    }
    .global-search .form-control {
	width:500px;
    }
    .global-search * {
	display:inline-block;
	margin-bottom:0;
    }
}
.topcorner{
    position:absolute;
    text-align: right;
    top:2%;
    right:2%;
}
.btn{
    background-color: #4285F4;
    border: none
}
.step-links a{
    color: #4285F4;
}

.dems {
    background: #7788AA;
    /*border-radius: 10px 0 0 10px;*/
    padding: 0.5em;
    text-align: center;
    /*margin-bottom: 1em;*/
}

.neutral {
    background: lightgray;
    padding: 0.5em;
    text-align: center;
    /*margin-bottom: 1em;*/
}

.reps {
    background: #D36969;
    padding: 0.5em;
    /*border-radius: 0px 10px 10px 0px;*/
    text-align: center;
    /*margin-bottom: 1em;*/
}

.demresults {
    background: #7788AA;
    border-radius: 0 0 10px 10px;
}

.neutralresults {
    background: lightgray;
    border-radius: 0 0 10px 10px;
}

.represults {
    background: #D36969;
    border-radius: 0 0 10px 10px;
}

.tweet {
    border-radius: 10px;
    background: #eeeeee;
    /*border: 1px solid black;*/
    margin: 0.5em 0.1em;
    padding: 1em;
}

.tweetmeta {
    font-size: 0.8em;
    margin-top: 0.5em;
}

.word-highlight {
    border-radius: 3px;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 0 0; }